[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
torch = "*"
torchvision = "*"
pillow = "*"
paddleocr = "*"
pandas = "*"
python-Levenshtein = "*"
joblib = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.9"
